.App {
  text-align: center;
}

body {
  background-image: url('https://img.freepik.com/fotos-premium/comida-italiana-ingredientes_1220-4676.jpg?w=1800');
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}